:root {
  --text-dark-bg: #fff;
  --text-light-bg: #000;
  --light-bg: rgb(216, 216, 216);
  --task-bar-height: 45px;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  position: relative;

  background-image: url(assets/wallpaper.jpg);
  background-size: cover;
  background-position: center;
}
