:root {
  --text-dark-bg: #fff;
  --text-light-bg: #000;
  --text-accent-light-bg: #4b4b4b;
  --light-bg: #d8d8d8;
  --light-bg-hover: #afafaf;
  --task-bar-height: 45px;

  --windows-blue: #00a2ed;
  --fluent-pale-red: #E74856;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#app {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  position: relative;

  background-image: url(assets/wallpaper.jpg);
  background-size: cover;
  background-position: center;
}

/* Utility classes */

.v-center {
  display: flex;
  align-items: center;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
