:root {
  --text-dark-bg: #fff;
  --task-bar-height: 45px;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  position: relative;

  background-color: rgb(32, 44, 211);
}
